<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage.MypageImpl">

	<!-- 메인 -->
	<select id="myName" resultType="String" parameterType="util.ParameterDTO">
	   SELECT name FROM member WHERE id=#{id}
	</select>

	<select id="myMcode" resultType="String" parameterType="util.ParameterDTO">
	   SELECT m_code FROM member WHERE id=#{id}
	</select>

	<select id="myCouponCount" resultType="int" parameterType="java.lang.String">
	   SELECT COUNT(*) FROM mycoupon WHERE m_code=#{m_code}
	</select>
	
	<select id="myCoupon" resultType="coupon.CouponVO" parameterType="java.lang.String">
		SELECT *
			FROM coupon INNER JOIN mycoupon USING(cp_idx)
			WHERE m_code=#{m_code}
	</select>
	
	<select id="myPoint" resultType="int" parameterType="java.lang.String">
	   SELECT point FROM member WHERE m_code=#{m_code}
	</select>
	
	
	<!-- 주문내역 -->
	<select id="myOrderCount" resultType="int" parameterType="java.lang.String">
	   SELECT COUNT(*) FROM ordered WHERE m_code=#{m_code}
	</select>
	
	
	<select id="listPage" resultType="orderlist.OrderlistVO" parameterType="util.ParameterDTO">
	SELECT * FROM (
	      SELECT Tb.*, rownum rNum From (
	         SELECT * FROM ordered 
	         WHERE m_code=#{m_code}
	         ORDER BY or_idx DESC
	      ) Tb
	   )
	   WHERE rNum BETWEEN #{start} AND #{end}
	</select>
	
	
	<!-- @Param 어노테이션에서 지정한 별칭을 사용하여 인파라미터를 처리
	<insert id="regist">
		INSERT INTO member (m_code, id, name, pass, phone, email, grade)
		VALUES
		(seq_member_num.nextval, #{_id}, #{_name}, #{_pass}, #{_phone}, #{_email}, #{_grade})
	</insert>
	
	
	<select id="view" resultType="member.MemberVO" parameterType="util.ParameterDTO">
		SELECT * FROM member WHERE m_code=#{m_code}
	</select>
	
	
	<update id="modify" parameterType="member.MemberVO">
		UPDATE member 
			SET id=#{id}, name=#{name},
			pass=#{pass}, phone=#{phone},
			email=#{email}, zipcode=#{zipcode},
			regidate=#{regidate}, grade=#{grade},
			point=#{point}, active=#{active}
			WHERE m_code=#{m_code}
	</update>
	
	
	<delete id="delete">
		DELETE FROM member WHERE m_code=#{m_code}
	</delete> -->
</mapper>