<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace ="review.ReviewBoardDAOImpl">
  
  	<select id="getTotalCount" resultType="int">
  		
  		SELECT COUNT(*) FROM reviewboard
  		
  	</select>  	
  	
  	<select id="getMyCount" resultType="int" parameterType="util.ParameterDTO">
  		
  		SELECT COUNT(*) FROM reviewboard WHERE m_code=#{m_code}
  		
  	</select>  	
  	
  	<select id="listPage" resultType="review.ReviewBoardDTO">
  		
  		SELECT * FROM (
		    SELECT Tb.*, rownum rNum FROM (
		        SELECT * FROM reviewboard ORDER BY rv_idx DESC
		    ) Tb
		)
		WHERE rNum BETWEEN #{param1} AND #{param2}	
  	</select>
  	
  	<select id="listMyPage" resultType="review.ReviewBoardDTO" parameterType="util.ParameterDTO">
  		SELECT * FROM (
		    SELECT Tb.*, rownum rNum FROM (
		        SELECT * FROM reviewboard 
		        WHERE m_code=#{m_code}
		        ORDER BY rv_idx DESC
		    ) Tb
		)
		WHERE rNum BETWEEN #{start} AND #{end}
  	</select>
  	
  	
  	<select id="listBest" resultType="review.ReviewBoardDTO">
  		select * from(
			select rv_idx, m_code, title, contents, writer, postdate, hits, rv_ofile1, rv_sfile1, rv_ofile2, rv_sfile2, rv_ofile3, rv_sfile3, or_idx, rv_best, rownum rNum from(
			select 
			    count(*) rank, rv_idx, R.m_code, title, contents, writer, postdate, hits, rv_ofile1, rv_sfile1, rv_ofile2, rv_sfile2, rv_ofile3, rv_sfile3, or_idx, rv_best
			from reviewboard R 
			    inner join likedreview L using(rv_idx) 
			group by rv_idx, R.m_code, title, contents, writer, postdate, hits, rv_ofile1, rv_sfile1, rv_ofile2, rv_sfile2, rv_ofile3, rv_sfile3, or_idx, rv_best
			order by rank desc)) WHERE rNum BETWEEN #{param1} AND #{param2}
  	</select>
  	
  	
  	<select id="getTotalCountSearch" resultType="int" parameterType="util.ParameterDTO">
  		
  		SELECT COUNT(*) FROM reviewboard 
  		<if test="searchTxt!=null and !searchTxt.equals('')">
  			WHERE ${searchField} like '%'||#{searchTxt}||'%'
  		</if>
  	</select>
  	
	<select id="listPageSearch" resultType="review.ReviewBoardDTO" parameterType="util.ParameterDTO">

		SELECT * FROM (
		SELECT Tb.*, rownum rNum FROM (
		SELECT * FROM reviewboard 
			<if test="searchTxt!=null and !searchTxt.equals('')">
				WHERE ${searchField} like '%'||#{searchTxt}||'%'
			</if>

				ORDER BY rv_idx DESC
			) Tb
		)
		WHERE rNum BETWEEN #{start} AND #{end}
		
	</select>
  	
  	<select id="view" resultType="review.ReviewBoardDTO" parameterType="review.ReviewBoardDTO">
  		SELECT * FROM reviewboard WHERE rv_idx=#{rv_idx}
  	
  	</select>
  	
  	
  	<insert id="write" parameterType="review.ReviewBoardDTO">
  		INSERT into reviewboard(rv_idx, m_code, title, contents, writer, rv_ofile1, rv_sfile1,rv_ofile2, rv_sfile2,rv_ofile3, rv_sfile3, or_idx) 
  		VALUES (seq_reviewboard_idx.nextval, #{m_code}, #{title}, #{contents}, #{writer},#{rv_ofile1}, #{rv_sfile1},#{rv_ofile2}, #{rv_sfile2},#{rv_ofile3}, #{rv_sfile3}, #{or_idx} )
  	</insert>
  	<select  id="findm_code" resultType="int">
  		SELECT m_code FROM member WHERE id=#{param1}
  	</select>
  	
  
  	<update id="edit" >
  		UPDATE reviewboard SET title =#{title}, contents=#{contents}, 
  		rv_sfile1=#{rv_sfile1}, rv_ofile1=#{rv_ofile1},
  		rv_sfile2=#{rv_sfile2}, rv_ofile2=#{rv_ofile2},
  		rv_sfile3=#{rv_sfile3}, rv_ofile3=#{rv_ofile3},
  		writer=#{writer}, or_idx=#{or_idx}
  		WHERE rv_idx=#{rv_idx}
  	</update>
  	 
  	<delete id="delete">
  	 	DELETE FROM reviewboard WHERE rv_idx = #{param1}
  	</delete>
  
  	<select id="selectsfile" resultType="String">  	
  		SELECT rv_sfile1 FROM reviewboard WHERE rv_idx = #{param1}
  	</select>
  	<select id="selectsfile2" resultType="String">  	
  		SELECT rv_sfile2 FROM reviewboard WHERE rv_idx = #{param1}
  	</select>
  	<select id="selectsfile3" resultType="String">  	
  		SELECT rv_sfile3 FROM reviewboard WHERE rv_idx = #{param1}
  	</select>
   
  	<update id="deletefile">
  		UPDATE reviewboard SET rv_ofile1=null, rv_sfile1=null
  		WHERE rv_idx=#{rv_idx}
  	</update>
  	<update id="deletefile2">
  		UPDATE reviewboard SET rv_ofile2=null, rv_sfile2=null
  		WHERE rv_idx=#{rv_idx}
  	</update>
  	<update id="deletefile3">
  		UPDATE reviewboard SET rv_ofile3=null, rv_sfile3=null
  		WHERE rv_idx=#{rv_idx}
  	</update>




	<!--좋아요 리뷰 테이블 추가 및 삭제 메서드 JYA-->
	<insert id="likeReview" parameterType="review.LikedReviewDTO">
  		INSERT INTO likedreview values (seq_likedreview_idx.nextval, #{rv_idx}, #{m_code})
  	</insert>
  	
  	<delete id="dislikeReview">
  	 	DELETE FROM likedreview WHERE rv_idx=#{param1} and m_code=#{param2}
  	</delete>

	  	
  	<select id="getMyFavCount" resultType="int" parameterType="util.ParameterDTO">
  		SELECT COUNT(*) FROM likedreview WHERE m_code=#{m_code}
  	</select>  	
  	
  	<select id="listMyFavPage" resultType="review.ReviewBoardDTO" parameterType="util.ParameterDTO">
  		SELECT * FROM (
		    SELECT Tb.*, rownum rNum FROM (
		        SELECT * FROM reviewboard 
		        INNER JOIN likedreview USING(m_code)
		        WHERE m_code=#{m_code}
		        ORDER BY like_idx DESC
		    ) Tb
		)
		WHERE rNum BETWEEN #{start} AND #{end}
  	</select>
  </mapper>