@charset "UTF-8";

.title-wrap-center{
    margin: 50px 0;
    .title-type{
        font-weight: 600;
    }
    p{
        font-size: 16px;
        margin-top: 20px;
        font-weight: normal;
    }
}